@charset "UTF-8";

$bigBox: pink;
$sBox: ivory;
$testBorder : 1px solid blue;
$marginCenter : 0 auto;
$height: 90px;
$bgColor : black;

@mixin flex($x, $y, $w, $d){
    display :flex;
    justify-content :$x;
    align-items :$y;
    flex-wrap :$w;
    flex-direction :$d; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.wrap {
    width: 100%;
    @if not ($height > 100px) {
        background-color:skyblue;
    } 


    .main {
        width: 1500px;
        height: 900px;
        border: $testBorder;
        background-color: $bigBox;
        border: $testBorder;
        margin: $marginCenter;
        @include flex(space-around, center, nowrap, row); 
        

        .imgList {
            border: $testBorder;
            width: 250px;
            height: 700px;
            background-color: $sBox;
            @include flex(center, none, wrap, row); 
            align-content: space-around;
            li {
                width: 200px;
                height: 200px;
                background-color: white;
                img {
                    height : 100%;
                    margin: 0 auto;
                    display: block;
            
                }    
            }
            
        }
        .mainImg {
            border: $testBorder;
            width: 650px;
            height: 700px;
            background-color: $sBox;
            position: relative;
            img {
                height: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .selectBox {
            border: $testBorder;
            width: 450px;
            height: 700px;
            background-color: $sBox;
            padding: 40px;
            
            table {
                margin: 30px 0;

                th {
                    width:80px;
                    height:50px;
                    border: $testBorder;
                    // border-right: 5px solid #eee;
                    // margin-right: 30px;
                }
            
                td {
                    width:300px;
                    height:100px;
                    text-align: center;
                    border : $testBorder;
                }
            }   
            
            .order {
                width: 150px;
                height: 50px;
                border: none;
                background-color: $bgColor;
                color: white;
                font-size: 17px;
                border-radius: 5px;
            }

            .result {
                width: 300px;
                height: auto;
                position: absolute;
                top: 0;
                // right: 0;
                display: none;
                background-color: mediumspringgreen;
                padding: 30px;
                h1 {
                    text-align: center;
                    margin-bottom: 30px;
                }
                .insert {
                    height: auto;
                }
                .exit {
                    width: 50px;
                    height: 30px;
                    border: none;
                    margin: 20px auto;
                    display: block;
                }

            }
            .colorBox {
                width:30px;
                height:30px;
                background-color:#eee;
             
                @for $i from 1 to 5 {
                    .colorBox#{$i} {color:pink}
                }
            }
        }



    }

}